body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #2c3e50;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.button {
    margin-bottom: 5px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    gap: 200px;
}

.section:nth-child(2) {
    animation-delay: 0.5s;
}

.text-content {
    flex: 1;
    padding: 20px;
}
.text-content h1 {
    color: #1A5276;
    /* Darkened blue */
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: slideIn 1s ease-out;
}

.text-content p {
    font-size: 1.1em;
    color: #7f8c8d;
}

.image-content {
    flex: 1;
    text-align: right;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    animation: float 3s infinite;
}

.locations {
    display: flex;
    align-items: center;
}

.locations a {
    margin: 0 0px;
    color: #2c3e50;
    /* Changed to yellow */
    text-decoration: none;
    font-weight: bold;
}

.button {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #2c3e50;
    /* Slightly darker yellow on hover */
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 0 10px #2c3e50;
    color: #fff;
}

.divider {
    width: 50px;
    height: 2px;
    background-color: #2c3e50;
    /* Changed to yellow */
    margin: 10px 0;
    animation: stretch 1.5s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes stretch {
    0% {
        width: 50px;
    }
    50% {
        width: 70px;
    }
    100% {
        width: 50px;
    }
}