.about-overview {
    padding: 80px 20px;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.overview-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.overview-text {
    flex: 1 1 500px;
    max-width: 600px;
}

.overview-images {
    flex: 1 1 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 250px;
    align-items: flex-start;
}

.overview-img {
    width: 200px;
    height: auto;
    min-height: 300px;
    border-radius: 0px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-two {
    margin-top: 150px;
    /* الصورة التانية نزلت لتحت */
}

@media (max-width: 768px) {

    .img-one,
    .img-two {
        transform: translateY(0);

        /* رجعهم طبيعيين في الموبايل */
        .overview-images {
            justify-content: center;
        }

        .overview-img1,
        .overview-img2 {
            width: 100%;
            max-width: 300px;
        }
    }
}


.section-subtitle {
    position: relative;
    display: inline-block;
    inline-size: 500px;
    color: #f26522;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #f26522;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.section-subtitle::after {
    background-color: #ffffff00;
}

.section-title {
    font-size: 3.5em;
    color: #003366a8;
    margin: 10px 0 20px;
    padding-top: 20px;
}

.section-description {
    font-size: 0.9em;
    width: 70%;
    line-height: 2.0;
    color: #333;
}

.fade-in-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}