
.slider-container {
    height: 95vh;
    overflow: hidden;
    position: relative;
}
.slider {
    display: flex;
    height: 100%;
    transition: transform 2.5s ease-in-out;
    will-change: transform;
}
.slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-text {
    position: absolute;
    bottom: 350px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 1.5em;
    background: transparent;
    color: white;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
}
.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
.dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}
.dot.active {
    opacity: 1;
}
