* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.4s, color 0.4s;
    background-color: transparent;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 450px;
    position: absolute;
    width: 110%;
    top: 30px;
    left: 0;
    color: white;
    z-index: 10;
    background: transparent;
}
#nav-links a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
header .logo img {
    height: 130px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* menu ☰،*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1001;
}
.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 35px;
    }

    nav ul {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 100px;
        right: 0;
        width: 200px;
        padding: 20px;
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    header nav li {
        margin: 10px 0;
    }

    header nav a {
        font-size: 14px;
    }

    header {
        padding: 15px 20px;
        width: 100%;
        flex-direction: column;
    }

    header nav {
        display: none;
    }

    header nav ul.show {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        background: transparent;
        font-size: 10px;
    }
    header .logo img {
        height: 100px;
        /* تصغير حجم اللوجو للموبايل */
    }
    .slide-text {
        bottom: 80px;
        left: 50%;
        font-size: .8em;
    }

    .popup-content {
        padding: 20px;
        font-size: 12px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }


}

footer {
    background-color: transparent;
    color: #1b213aa8;
    padding: 20px 20px;
    box-shadow:transparent;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;

}

.footer-content p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    flex: 1 1 100%;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 1 100%;
}

footer .social a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;

}

footer .social a img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}
/* Responsive Design */

@media (min-width: 600px) {
    .footer-content {
        flex-wrap: nowrap;
    }

    .footer-content p {
        flex: 1;
        text-align: left;
    }

    .footer-content .social {
        justify-content: flex-end;
        flex: 1;
    }
}

